.search-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    width: 100%;
    background-image: url('../../assets/search-background.jpg');
    color: white;
}
.book-card{
    display: inline-grid;
    color: white;
border: 1px solid black;
margin-right: 1rem;
width: 10vw;
background: #456;
padding: 5px;
text-align: center;
height: 100%;

}
.feed-container{
    display: flex;
    overflow-x: scroll;
    color: white;

}
.search {
    position: relative;
    display: inline-block;
  }
  
  .search input[type="text"] {
    padding-right: 25px;
  }
  
  .search .fa {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
  }
.category-title{
    border-bottom: 1px solid #456;
    color: #9ab;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-bottom: 0.76923077rem;
    margin-top: 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

button{
  background-color: #c7d7f4;
  color: #3b64b1;
  font-weight: 500;
  border-radius: 16px;
}
