
a.title {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
nav.navbar {
    background: #012363!important;
    color: white!important;
    border-radius: 0!important;
}
ul.navbar-nav li a {
    color: white!important;
}
div#navbarsExample {
    display: flex!important;
    padding: 3px 30px;
    justify-content: space-between;
}

.logout{
    color: white;
}