<!-- Profile -->
<div class="profile card">
  <img [src]="userData?.avatar" alt="User Image" />
  <div class="userData"></div>
  <h1>{{ userData?.name }}</h1>

  <p>{{ userData?.email }}</p>
  <button
    *ngIf="isCurrentProfile"
    class="edit-profile"
    (click)="showEditProfile()"
  >
    Editar Perfil<i class="fa-solid fa-user-pen"></i>
  </button>
  <a
    type="button"
    href="chat/{{ userData.id }}"
    *ngIf="!isCurrentProfile"
    class="btn btn-success"
  >
    enviar mensaje <i class="fa-solid fa-user-pen"></i>
  </a>
</div>

<!-- Profile -->
<!--edit Form  -->
<div class="form-container card" *ngIf="isCurrentProfile && editProfile">
  <h2 class="text-center">Update Profile</h2>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-md-offset-3">
      <div class="jumbotron">
        <form
          [formGroup]="angForm"
          (ngSubmit)="postdata(angForm)"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              formControlName="name"
              autocomplete="off"
              class="form-control input-sm"
              placeholder="Name"
              value="{{ userData?.name }}"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              autocomplete="off"
              class="form-control input-sm"
              placeholder="Email"
              [class.is-invalid]="
                angForm.get('email')?.invalid && angForm.get('email')?.touched
              "
              value="{{ userData?.email }}"
              required
            />

            <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
              <small *ngIf="email?.errors" class="text-danger"
                >Please provide a valid email address</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input
              type="password"
              name="Password"
              formControlName="password"
              autocomplete="off"
              class="form-control input-sm"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                formControlName="admin"
                type="checkbox"
                value="admin"
                name="admin"
                id="flexCheckDefault"
                [checked]="userData?.rol == 1"
              />
              <label class="form-check-label" for="flexCheckDefault">
                is Admin?
              </label>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="email?.invalid || !name?.value || !password?.value"
          >
            Update
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- Actividad -->
<div class="book-reviews">
  <h6>Ultima Actividad</h6>
  <div class="cards-container">
    <div
      class="card"
      style="width: 18rem; height: fit-content;"
      *ngFor="let c of cards"
    >
      <div class="card-body">
        <a class="card-user" href="/profile/{{ c.user_id }}">
          <img class="card-avatar" [src]="c?.avatar" alt="User Image" />
          <h5 class="card-title">{{ c.user }}</h5>
        </a>
        <h5 class="card-title">{{ c.user }}</h5>
        <h6>Rating: {{ c.rating }}/5</h6>

        <p class="card-text">
          {{ c.text }}
        </p>
        <img src="{{ c.img }}" class="card-img-top" alt="..." />
      </div>
      <div class="card-actions">
        <div class="left">
          <div class="likes">
            <button *ngIf="!hasLike(c.id)" (click)="addLike(c.id)">
              <i class="fa-regular fa-heart"></i>
            </button>
            <button *ngIf="hasLike(c.id)" (click)="removeLike(c.id)">
              <i class="fa-solid fa-heart"></i>
            </button>

            <p>{{ likesLength(c.id) }}</p>
          </div>
          <div class="comments">
            <button (click)="showCommentModal(c.id)">
              <i class="fa-regular fa-comment"></i>
            </button>
            <p>{{ comentariosLength(c.id) }}</p>
          </div>
        </div>
        <div class="right">
          <i class="fa-solid fa-share"></i>
        </div>
      </div>
      <button
        *ngIf="isAdmin"
        type="button"
        class="btn btn-danger"
        (click)="delete(c.id)"
      >
        Delete
      </button>
      <button
        *ngIf="isAdmin"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="showModal(c.id)"
      >
        Editar
      </button>
      <!-- Modal -->
      <div
        [ngClass]="
          isModalActive && editCard == c.id ? 'showModal' : 'modal fade'
        "
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar User</h5>
            </div>
            <form
              [formGroup]="angForm"
              (ngSubmit)="patchData(angForm, c.id)"
              autocomplete="off"
            >
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Comentario</label>
                  <textarea
                    formControlName="comment"
                    name="comment"
                    type="text"
                    class="textarea-edit"
                    id="exampleFormControlInput1"
                    placeholder="{{ c.text }}"
                  >
                  </textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="hideModal()"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal -->
      <!-- Modal -->
      <div
        [ngClass]="
          isComentModalActive && postId == c.id
            ? 'showModal commentContainer'
            : 'modal fade'
        "
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
            </div>
            <form
              [formGroup]="angForm"
              (ngSubmit)="patchCommentData(c.id, angForm)"
              autocomplete="off"
            >
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Comentarios</label>
                  <div *ngFor="let c of getPostComments(c.id)">
                    <div>
                      <strong>{{ c.name }}</strong
                      >: {{ c.texto }}
                      <button
                        type="button"
                        *ngIf="c.user_id === userId"
                        (click)="removeComentario(c.id)"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </div>
                  <textarea
                    formControlName="comment"
                    name="comment"
                    type="text"
                    class="textarea-edit"
                    id="exampleFormControlInput1"
                    placeholder="Escribe un comentario..."
                    [(ngModel)]="defaultValue"
                  >
                  </textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="hideCommentModal()"
                >
                  Close
                </button>
                <button
                  [disabled]="!defaultValue.length"
                  type="submit"
                  class="btn btn-primary"
                >
                  Post
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal -->
    </div>
  </div>
</div>
