<div class="dashboard-background">
  <div class="post-meme" style="text-align: center;">
    <h2>Comparte tu opinion</h2>
    <form [formGroup]="angForm" (ngSubmit)="upload(angForm)" autocomplete="off">
      <label> Categoria</label>
      <select
        (change)="onChangeCategory($event)"
        class="form-select"
        aria-label="Default select example"
      >
        <option *ngFor="let b of books" value="{{ b?.list_name_encoded }}">{{
          b?.display_name
        }}</option>
      </select>
      <label> Libro</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="isbn"
        [id]="'isbn'"
      >
        <option *ngFor="let b of booksList" [ngValue]="(b?.isbns)[0].isbn10">{{
          (b?.book_details)[0]?.title
        }}</option>
      </select>
      <div class="star-rating">
        <ngx-star-rating
          formControlName="rating"
          [id]="'rating'"
        ></ngx-star-rating>
      </div>
      <div class="textarea">
        <textarea
          placeholder="Comparte tu opinion con la comunidad"
          rows="20"
          name="comment"
          id="comment"
          formControlName="comment"
          class="ui-autocomplete-input"
          autocomplete="off"
          role="textbox"
          aria-autocomplete="list"
          aria-haspopup="true"
        ></textarea>
      </div>

      <input
        type="file"
        class="file-input"
        name="img"
        (change)="selectFile($event)"
        #fileUpload
      />
      <div class="file-upload">
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
          <i class="fa-solid fa-image"></i>
          {{ selectedFiles ? selectedFiles[0]?.name : "Subir Archivo" }}
        </button>
        <button
          class="btn upload-btn"
          [disabled]="!isSubmit(angForm, selectedFiles)"
          type="submit"
        >
          Subir
        </button>
      </div>
    </form>
  </div>
  <div style="text-align: center;" class="cards-container">
    <div class="card" *ngFor="let c of cards">
      <div class="card-body">
        <a class="card-user" href="/profile/{{ c.user_id }}">
          <img class="card-avatar" [src]="c?.avatar" alt="User Image" />
          <h5 class="card-title">{{ c.user }}</h5>
        </a>
        <h6>Rating: {{ c.rating }}/5</h6>

        <p class="card-text">
          {{ c.text }}
        </p>
        <img src="{{ c.img }}" class="card-img-top" alt="..." />
      </div>
      <div class="card-actions">
        <div class="left">
          <div class="likes">
            <button *ngIf="!hasLike(c.id)" (click)="addLike(c.id)">
              <i class="fa-regular fa-heart"></i>
            </button>
            <button *ngIf="hasLike(c.id)" (click)="removeLike(c.id)">
              <i class="fa-solid fa-heart"></i>
            </button>

            <p>{{ likesLength(c.id) }}</p>
          </div>
          <div class="comments">
            <button (click)="showCommentModal(c.id)">
              <i class="fa-regular fa-comment"></i>
            </button>
            <p>{{ comentariosLength(c.id) }}</p>
          </div>
        </div>
        <div class="right">
          <button type="button" (click)="shareClick(c.id)">
            <i class="fa-solid fa-share"></i>
          </button>
          <button
            type="button"
            *ngIf="c.user_id === userId"
            (click)="delete(c.id)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            *ngIf="shareOptions && shareCard == c.id"
          >
            <button
              class="dropdown-item"
              (click)="shareToUser(u?.id, c.id)"
              *ngFor="let u of users"
            >
              {{ u?.name }}
            </button>
          </div>
        </div>
      </div>
      <button
        *ngIf="isAdmin"
        type="button"
        class="btn btn-danger"
        (click)="delete(c.id)"
      >
        Delete
      </button>
      <button
        *ngIf="isAdmin"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="showModal(c.id)"
      >
        Editar
      </button>
      <!-- Modal -->
      <div
        [ngClass]="
          isModalActive && editCard == c.id ? 'showModal' : 'modal fade'
        "
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar User</h5>
            </div>
            <form
              [formGroup]="angForm"
              (ngSubmit)="patchData(angForm, c.id)"
              autocomplete="off"
            >
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Comentario</label>
                  <textarea
                    formControlName="comment"
                    name="comment"
                    type="text"
                    class="textarea-edit"
                    id="exampleFormControlInput1"
                    placeholder="{{ c.text }}"
                  >
                  </textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="hideModal()"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal -->
      <!-- Modal -->
      <div
        [ngClass]="
          isComentModalActive && postId == c.id
            ? 'showModal commentContainer'
            : 'modal fade'
        "
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
            </div>
            <form
              [formGroup]="angForm2"
              (ngSubmit)="patchCommentData(c.id, angForm2)"
              autocomplete="off"
            >
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Comentarios</label>
                  <div *ngFor="let c of getPostComments(c.id)">
                    <div>
                      <strong>{{ c.name }}</strong
                      >: {{ c.texto }}
                      <button
                        type="button"
                        *ngIf="c.user_id === userId"
                        (click)="removeComentario(c.id)"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </div>
                  <textarea
                    formControlName="comment"
                    name="comment"
                    type="text"
                    class="textarea-edit"
                    id="exampleFormControlInput1"
                    placeholder="Escribe un comentario..."
                    [(ngModel)]="defaultValue"
                  >
                  </textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="hideCommentModal()"
                >
                  Close
                </button>
                <button
                  [disabled]="!defaultValue.length"
                  type="submit"
                  class="btn btn-primary"
                >
                  Post
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal -->
    </div>
  </div>
</div>
